/* css file */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin: 1vw;
    padding: 1vw;
    background-color: #dbedf1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    
}