/* main css file */
html{
  box-sizing:border-box;
}

*, *::before, *::after{
  box-sizing:inherit;
}

*{
  margin-top:auto;
  margin-bottom:1rem;
  padding:0;
  color: rgb(0, 0, 38);
}

navigation{
  margin: 0.5rem;
}

navigation ul{
  border:2px solid black;
  padding: 0.5rem;
  
}

navigation ul, navigation li{
  margin:0;
  flex:display;
  justify-content: right;
  justify-items: bottom;
}

/* adds style to table of contents section */
nav{
  border-left:2px solid black;
  padding-left: 1rem;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  margin: 1vw;
  padding: 1vw;
  background-color: #c9eadb;
}

/* aligns article body to the centre of the page */
article{
  margin-left:10vw;
  margin-right: 10vw;
}

/* different font for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
    
}

/* adds indentation to lists */
ul,ol{
  margin-left:1.5em;
  margin-right: auto;
}

/* adds style to code text */
code {
  background-color: rgb(125, 221, 188);
  border: 1px solid #370000;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
  display: inline-block;
}

/* adds style to code-boxes */
pre {
  background-color: #bac8b5;
  border: 1px solid #001406;
  padding: 12px;
  border-radius: 6px;
  width:auto;
  height:auto;
  white-space: pre-line;
  overflow-x:auto;
}

.rendered-html  {
  background-color: #bac8b5;
  border: 1px solid #001406;
  padding: 12px;
  border-radius: 6px;
  width:auto;
  height:auto;
  overflow-x:auto;
}

/* removes the underline of subheadings added as links */
.nav-link {
  text-decoration:none;
  color:black;
}

.nav-link:hover {
  text-decoration:underline;
  color:rgb(0, 0, 0);
}

img {
  max-width: 100%;
  width:auto;
  height: auto;
  display: block;
}

::selection {
  background: yellow;
  color: black;
}